{% extends 'base.html' %}
{% load static %}

{% block title %}
Корзина покупок
{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'assets/css/basket.css' %}">

<h1>Shopping Cart</h1>

<div class="shopping-cart">

    <div class="column-labels">
        <label class="product-image">Миниатюра</label>
        <label class="product-details">Товар</label>
        <label class="product-price">Цена</label>
        <label class="product-quantity">Количество</label>
        <label class="product-removal">Убрать</label>
        <label class="product-line-price">Итого</label>
    </div>
    {% if cart %}
    {% for item in cart %}
    {% with product=item.product %}
    <div class="product">
        <div class="product-image">
            {% if product.photo %}
            <img src="{{ product.photo.url }}">
            {% endif %}
        </div>
        <div class="product-details">
            <div class="product-title">{{ product.name }}</div>
        </div>
        <div class="product-price">{{ item.price }}</div>
        <div class="product-quantity">
            {{ item.update_quantity_form.quantity }}
        </div>
        <div class="product-removal">
            <a href="{% url 'cart:cart_remove' product.id %}">
            <button  class="remove-product" >
                Убрать
            </button>
            </a>
        </div>
        <div class="product-line-price">{{ item.total_price }}</div>
    </div>
    {% endwith %}
    {% endfor %}
    <div class="totals">
        <div class="totals-item">
            <label>Цена</label>
            <div class="totals-value" id="cart-subtotal">{{ cart.get_total_price }}</div>
        </div>
        <div class="totals-item">
            <label>Доставка</label>
            <div class="totals-value" id="cart-shipping">15</div>
        </div>
        <div class="totals-item totals-item-total">
            <label>Общая стоимость</label>
            <div class="totals-value" id="cart-total">{{ cart.get_total_price|add:'15' }}</div>
        </div>
    </div>

    <button class="button">Оформить</button>
    <button class="button" ><a href="{% url 'products' %}">Продолжить покупки</a></button>
    {% else %}
    <h1>Упсс в коризне ничего нет добавьте товары </h1>
    {% endif %}
</div>
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/basket.js' %}"></script>
{% endblock %}