{% extends 'base.html' %}
{% load static %}

{% block title %}
Корзина покупок
{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'assets/css/basket.css' %}">

<h1>Корзина</h1>

<div class="shopping-cart">

    <div class="column-labels">
        <label class="product-image">Миниатюра</label>
        <label class="product-details">Товар</label>
        <label class="product-price">Цена</label>
        <label class="product-quantity">Количество</label>
        <label class="product-removal">Убрать</label>
        <label class="product-line-price">Итого</label>
    </div>
    {% if cart %}
    {% for item in cart %}
    {% with product=item.product %}
    <div class="product">
        <div class="product-image">
            {% if product.photo %}
            <a href="{{ product.get_absolute_url }}">
            <img src="{{ product.photo.url }}"></a>
            {% endif %}
        </div>
        <div class="product-details">
            <div class="product-title"><h3 ><a href="{{ product.get_absolute_url }}" style="color: black">{{ product.name }} </a></h3></div>
        </div>
        <div class="product-price">{{ item.price }}</div>
        <form action="{% url 'cart:cart_add' product.id %}" method="post">
        <div class="product-quantity" id="{{ product.id }}">
            {{ item.update_quantity_form.quantity }}
            <label >Имеется: {{ product.amount }}</label>
            {{ item.update_quantity_form.update }}
            <input type="hidden" name="amount" value="{{ product.amount }}"
                                   class="field-amount" id="id_amount">
            <input type="submit" id=button style="display: none;">
            {% csrf_token %}
        </div>
        </form>
        <div class="product-removal">
            <a href="{% url 'cart:cart_remove' product.id %}">
            <button  class="remove-product" >
                Убрать
            </button>
            </a>
        </div>
        <div class="product-line-price">{{ item.total_price }}</div>
    </div>
    {% endwith %}
    {% endfor %}

    <div class="totals">
        <div class="totals-item">
            <label>Цена</label>
            <div class="totals-value" id="cart-subtotal">{{ cart.get_total_price }}</div>
        </div>
        <div class="totals-item">
            <label>Доставка</label>
            <div class="totals-value" id="cart-shipping">300</div>
        </div>
        <div class="totals-item totals-item-total">
            <label>Общая стоимость</label>
            <div class="totals-value" id="cart-total">{{ cart.get_total_delivery_price }}</div>
        </div>
    </div>
    <form action="{% url 'order_create' %}">
    <button class="button">Оформить</button></form>
    <form  action="{% url 'products' %}">
    <button class="button" >Продолжить покупки</button></form>
    {% else %}
    <h1>Упсс в коризне ничего нет добавьте товары </h1>
    {% endif %}
</div>
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/basket.js' %}"></script>
{% endblock %}