{% extends 'base.html' %}
{% load static %}

{% block title %} {{ title }} :: {{ block.super }} {% endblock %}


{% block content %}
<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="caption">
                    <h2>Lorem Ipsum</h2>
                    <div class="line-dec"></div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In a blandit ex, ac volutpat urna. Nullam bibendum nec est quis gravida. Nunc vitae urna vitae mauris bibendum faucibus ac vel nulla. Nam eros tortor, pellentesque quis egestas vel, mattis et libero. Nunc eu tincidunt sapien. Morbi ornare ipsum nunc.
                    <div class="main-button">
                        <a href="{% url 'products' %}">К покупкам</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% include 'inc/_carousel.html' %}
{% endblock %}