{% extends "base.html" %}

{% load order_item %}
{% block title %}Заказ номер: {{ order.id }} {% endblock %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'assets/css/order_detailed.css' %}">

<div>
    <article class="card">
        <header class="card-header">  </header>
        <div class="card-body">
            <h6>Заказ номер: {{ order.id }}</h6>
            <article class="card">
                <div class="card-body row">
                    <div class="col"> <strong>Адрес доставки:</strong> <br> {{ order.city }}, |{{ order.address }} <br> <i class="fa fa-phone"></i> {{ order.phone_number }} </div>
                    <div class="col"> <strong>Статус:</strong> <br> {{ order.get_status_display }} </div>
                    <div class="col"> <strong>Номер отслеживания:</strong> <br> {{ order.tracking_number|default_if_none:""  }} </div>
                    <div class="col"> <strong>Комментарий к заказу:</strong> <br>{{ order.comment }} </div>
                </div>

            </article>
            <div class="track">
                <div class="step  active"> <span class="icon"> <i class="fa fa-check"></i> </span> <span class="text">Заказ в обработке</span> </div>
                <div class="step {% if order.status != 'new' %} active {% endif %}"> <span class="icon"> <i class="fa fa-user"></i> </span> <span class="text"> Заказ подтвержден</span> </div>
                <div class="step {% if order.status in 'in_deliverycompleted' %} active {% endif %}"> <span class="icon"> <i class="fa fa-truck"></i> </span> <span class="text"> Передан в службу доставки </span> </div>
                <div class="step {% if order.status == 'completed' %} active {% endif %}"> <span class="icon"> <i class="fa fa-check"></i> </span> <span class="text">Заказ доставлен</span> </div>
            </div>
            <hr>
            {% show_orderitem order.id as orderitems  %}
            <ul class="row">
                {% for orderitem in orderitems %}
                <li class="col-md-4">
                    <figure class="itemside mb-3">
                        {% if orderitem.product.photo %}
                        <div class="aside"><img src="{{ orderitem.product.photo.url }}" class="img-sm border"></div>
                        {% endif %}
                        <figcaption class="info align-self-center">
                            <p class="dropdown-item"><b><a href="{{ orderitem.product.get_absolute_url }} "  style="color:#ff5400;">{{ orderitem.product.name }}</a></b><br>Кол-во:{{ orderitem.quantity }}<br><span class="text-muted">{{ orderitem.get_cost }} </span>
                        </figcaption>
                    </figure>
                </li>
                {% endfor %}
            </ul>
            <hr> <a href="{% url 'orders_list' %}" class="btn btn-warning" > <i class="fa fa-chevron-left"></i> Назад</a>
        </div>
    </article>
</div>
{% endblock %}