{% extends "base.html" %}

{% load special_tags %}
{% block title %}Спасибо за ваш заказ!{% endblock %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'assets/css/order_created.css' %}">
<div class="card-body">
    <div class="card mt-50 mb-50">
        <div class="col d-flex"><span class="text-muted" id="orderno">заказ #{{ order.id }}</span></div>
        <div class="title mx-auto">Спасибо за ваш заказ! </div>
        <div class="main"> <span id="sub-title">
            <p><b>Состав заказа</b></p>
        </span>
            {% show_orderitem order.id as orderitems  %}
            {% for orderitem in orderitems %}
            <div class="row row-main">
                {% if orderitem.product.photo %}
                <div class="col-3"> <img class="img-fluid" src="{{ orderitem.product.photo.url }}"> </div>
                {% endif %}
                <div class="col-6">
                    <div class="row d-flex">
                        <p><b>{{ orderitem.product.name }}{% if orderitem.quantity > 1 %}(x{{ orderitem.quantity }}){% endif %}</b></p>
                    </div>
                </div>
                <div class="col-3 d-flex justify-content-end">
                    <p><b>{{ orderitem.get_cost }}</b></p>
                </div>
            </div>
            {% endfor %}
            <hr>
            <div class="total">
                <div class="row">
                    <div class="col">Доставка</div>
                    <div class="col d-flex justify-content-end">300 &#x20bd</div>
                </div>
                <div class="row">
                    <div class="col"> <b> Итого:</b> </div>
                    <div class="col d-flex justify-content-end"> <b>{{ order.get_total_cost }}  &#x20bd</b> </div>
                    {% if user.is_authenticated %}
                </div>
                <form  action="{% url 'orders_list' %}">
    <button type="submit" class="btn" >Подробнее</button></form>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}