{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Оформление заказа{% endblock %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'assets/css/order_create.css' %}">
<h1>Checkout</h1>
<form action="." method="post" class="order-form">
    <nav class="bg-white">
        <div class="d-flex align-items-center">
            <div class="ml-auto"> <a href="#" class="text-uppercase">Back to shopping</a> </div>
        </div>
    </nav>
    <header>
    </header>
    <div class="wrapper">
        <div class="h5 large">Адресс доставки</div>
        <div class="row">
            <div class="col-lg-6 col-md-8 col-sm-10 offset-lg-0 offset-md-2 offset-sm-1">
                <div class="mobile h5">Адресс доставки</div>
                <div id="details" class="bg-white rounded pb-5">
                    <form method="post" >
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        <div class="form-group">
                            {{ form.first_name.errors }}
                            <label  class="text-muted">{{ form.first_name.label_tag }}</label> {{ form.first_name }}</div>
                        <div class="form-group">
                            {{ form.last_name.errors }}
                            <label  class="text-muted">{{ form.last_name.label_tag }}</label> {{ form.last_name }}</div>
                        <div class="form-group">
                            {{ form.phone_number.errors }}
                            <label  class="text-muted">{{ form.phone_number.label_tag }}</label> {{ form.phone_number }}</div>
                        <div class="form-group">{{ form.email.errors }} <label class="text-muted">{{ form.email.label_tag }}</label>
                            <div class=text-muted"> {{ form.email }} </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">{{ form.city.errors }} <label class="text-muted">{{ form.city.label_tag }}</label>
                                    <div class=text-muted"> {{ form.city }} </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">{{ form.zip_code.errors }} <label class="text-muted">{{ form.zip_code.label_tag }}</label>
                                    <div class=text-muted"> {{ form.zip_code }} </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-group">{{ form.address.errors }} <label class="text-muted">{{ form.address.label_tag }}</label>
                                <div class=text-muted"> {{ form.address }} </div>
                            </div>
                        </div>
                        {% csrf_token %}
                    </form>
                </div>
            </div>
            <div class="col-lg-6 col-md-8 col-sm-10 offset-lg-0 offset-md-2 offset-sm-1 pt-lg-0 pt-3">
                <div id="cart" class="bg-white rounded">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="h6">Ваш заказ</div>
                        <div class="h6"> <a href="{% url 'cart:cart_detail' %}">Изменить</a> </div>
                    </div>
                    <div class="d-flex jusitfy-content-between align-items-center pt-3 pb-2 border-bottom">
                        {% for item in cart %}
                        <div class="item pr-2"> <img src="{{ item.product.photo.url }}" alt="" width="80" height="80">
                            <div class="number">{{ item.quantity }}</div>
                        </div>
                        <div class="d-flex flex-column px-3"> <b class="h5">{{ item.product.name }}</b> <a href="#" class="h5 text-primary">C-770</a> </div>
                        <div class="ml-auto" > <b class="h5">{{ item.total_price }} &#x20bd</b> </div>
                    </div>
                    <br>
                    <div class="d-flex align-items-center">
                        {% endfor %}
                        <div class="display-5">Цена</div>
                        <div class="ml-auto font-weight-bold">{{ cart.get_total_price }} &#x20bd</div>
                    </div>
                    <div class="d-flex align-items-center py-2 border-bottom">
                        <div class="display-5">Доставка</div>
                        <div class="ml-auto font-weight-bold">300 &#x20bd</div>
                    </div>
                    <div class="d-flex align-items-center py-2">
                        <div class="display-5">Всего</div>
                        <div class="ml-auto d-flex">
                            <div class="font-weight-bold">{{ cart.get_total_delivery_price }} &#x20bd</div>
                        </div>
                    </div>
                </div>
                <div class="row pt-lg-3 pt-2 buttons mb-sm-0 mb-2">
                    <div class="col-md-6">
                        <form  action="{% url 'products' %}">
                            <button class="button" >Продолжить покупки</button></form>
                    </div>
                    <div class="col-md-6 pt-md-0 pt-3">
                        <button class="button" id="update">Оформить</button>
                        {% csrf_token %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% csrf_token %}
</form>
{% endblock %}
