{% extends "base.html" %}
{% load special_tags %}
{% block title %}Ваши заказы{% endblock %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'assets/css/user_orders.css' %}">


{% if orders %}
<div class="container">
    <div class="row">
        <section class="content">
            <div class="col-md">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="pull-right">
                            <div class="btn-group"> <button type="button" class="btn btn-success btn-filter" data-target="active">Активные</button> <button type="button" class="btn btn-warning btn-filter" data-target="completed">Завершенные</button>  <button type="button" class="btn btn-default btn-filter" data-target="all">Все</button></div>
                        </div>
                        <div class="table-container">
                            <table class="table table-filter">
                                <tbody>
                                <div class="wrapper">
                                    <div class="orders-list">
                                        <div class="container mt-5">
                                            <table class="table table-borderless main">
                                                {% for order in orders %}
                                                {% show_orderitem order.id as orderitems  %}
                                                {% if order.order_completed is True %}
                                                <tbody>
                                                <tr  data-status="active" class="rounded bg-white">
                                                    <td  class="order-color" ><a href="{{ order.get_absolute_url }}">{{ order.id }}</a></td>
                                                    <td><b>Размещен:</b>
                                                        {{ order.ordered_at|date:"d M, Y" }}</td>
                                                    <td>
                                                        <ul class="list-group" >
                                                            <b>Товары в заказе:</b>
                                                            {% for orderitem in orderitems %}
                                                            <li><a class="dropdown-item" href="{{ orderitem.product.get_absolute_url }}">
                                                                {{ orderitem.product.name }}{% if orderitem.quantity > 1 %}(x{{ orderitem.quantity }}){% endif %}</a></li>
                                                            {% endfor %}
                                                        </ul>
                                                    </td>
                                                    <td><b>Цена:</b>
                                                        {{ order.get_total_cost  }} &#x20bd</td>
                                                    <td><b>Статус:</b>
                                                        {{ order.get_status_display}} </td>
                                                </tr>
                                                {% else %}
                                                <tr  data-status="completed" class="rounded bg-white">
                                                    <td  class="order-color" ><a href="{{ order.get_absolute_url }}">{{ order.id }}</a></td>
                                                    <td><b>Размещен:</b>
                                                        {{ order.ordered_at|date:"d M, Y" }}</td>
                                                    <td>
                                                        <ul class="list-group" >
                                                            <b>Товары в заказе:</b>
                                                            {% for orderitem in orderitems %}
                                                            <li><a class="dropdown-item" href="{{ orderitem.product.get_absolute_url }}">
                                                                {{ orderitem.product.name }}{% if orderitem.quantity > 1 %}(x{{ orderitem.quantity }}){% endif %}</a></li>
                                                            {% endfor %}
                                                        </ul>
                                                    </td>
                                                    <td><b>Цена:</b>
                                                        {{ order.get_total_cost  }} &#x20bd</td>
                                                    <td><b>Статус:</b>
                                                        {{ order.get_status_display}} </td>
                                                </tr>
                                                {% endif %}
                                                {% endfor %}

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
{% else %}

<h1> </h1>
<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="caption">
                    <h2>Упсс здесь ничего нет сделайте ваш заказ</h2>

                    <div class="main-button">
                        <a href="{% url 'products' %}">К покупкам</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

{% endblock %}