{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">

  <div class="container">
    <r class="navbar-brand" href="#"><img src="{% static 'assets/images/header-logo.png' %}" height="80"  alt=""></r>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        {% with url_name=request.resolver_match.url_name %}
        <li class="nav-item {% if url_name == 'home' %}active{% endif %}">
          <a class="nav-link" href="{% url 'home' %}">Главная</a>
        </li>
        <li class="nav-item {% if url_name == 'products' %}active{% endif %}">
          <a class="nav-link " href="{% url 'products' %}">Продукты</a>
        </li>
        <li class="nav-item {% if url_name == 'about' %}active{% endif %}">
          <a class="nav-link" href="/about">Обо мне</a>
        </li>
        <li class="nav-item {% if url_name == 'feedback' %}active{% endif %}">
          <a class="nav-link" href="{% url 'feedback' %}">Контакты</a>
        </li>
        {% endwith %}
      </ul>
    </div>
  </div>
  {% if user.is_authenticated %}

    <button class="button" >Выйти</button></form>
  <div class="btn-group">
    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Профиль
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Мой профиль</a>
      <a class="dropdown-item" href="">Корзина {% if cart|length != 0 %} ({{ cart|length }}){% endif %} </a>
      <a class="dropdown-item" href="{% url 'account' %}">Заказы</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="{% url 'logout' %}">Выйти</a>
    </div>
  </div>
  {% else %}
  <form  action="{% url 'login' %}">
    <button class="button" >Войти</button></form>

  {% endif %}
  <a  href="{% if cart|length > 0  %}{% url 'cart:cart_detail' %}{% endif %}" ><i class="fa"  id="lblCart" style="font-size:48px">&#xf07a;</i>
    <span class='badge badge-warning' id='lblCartCount' background-color="#ff5400"> {{ cart|length }} </span></a>

</nav>
